[is='flynt-slider-quote'] {
  .intro {
    @include spacing('medium', margin-bottom);
  }

  .logos {
    @include spacing('medium', margin-bottom);

    &-list {
      @include reset-list;
      @include row;
      @include row-cols(2);

      @media (min-width: $breakpoint-tablet) {
        @include row-cols(3);
      }

      @media (min-width: $breakpoint-tablet) {
        @include row-cols(4);
      }

      @media (min-width: $breakpoint-tablet) {
        @include row-cols(5);
      }
    }

    &-item {
      @include col;
    }
  }

  .testimonials {
    display: flex;
    flex-wrap: nowrap;
  }

  .testimonial {
    @include row;

    &-outer {
      @include col(12);
    }

    &-figure {
      margin: 0;
    }

    &-image {
      @include col(12);

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include col(5);
      }
    }

    &-figureImage {
      object-fit: cover;
      overflow: hidden;
    }

    &-content {
      @include col;
      @include offset(1);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-text {
      @include spacing('medium');
      border: 0;
      font-style: normal;
      margin-bottom: 0;
      padding: 0;
    }

    &-author {
      margin-top: 2rem;
    }

    &-author-logo {
      @include spacing('large');
      height: 22px;
      max-width: 157px;
    }

    &-link {
      @include spacing('large');
    }

    &-sliderArrow {
      &--prev,
      &--next {
        background-color: $color-background-dark;
      }
    }
  }
}

[is='flynt-block-tabs-with-content'] {
  background-color: $light-grey;

  .intro {
    h3 {
      margin-bottom: 0;
      padding-top: 0;
    }
  }

  .tabs-with-content {
    &-items {
      position: relative;
    }

    &-content {
      .tab-body {
        @include spacing('medium');
      }
    }
  }

  .tabs {
    &-list {
      @include row;
    }

    &-item {
      @include col(12);

      @media (min-width: $breakpoint-tablet) {
        @include col(6);
      }
    }
  }

  .tab {
    &-head {
      align-items: center;
      border-bottom: 1px solid rgba($black, 0.5);
      display: flex;
      justify-content: space-between;
      padding: 50px 0;

      @media (min-width: $breakpoint-tablet) {
        display: block;
      }

      h4 {
        margin-bottom: 0;
        padding-top: 0;
      }
    }

    &-body {
      background-color: $light-grey;
      border-bottom: 1px solid rgba($black, 0.5);
      display: none;
      height: 100%;
      padding-bottom: 50px;
      position: relative;
      width: 100%;

      @media (min-width: $breakpoint-tablet) {
        border-top: 1px solid $black;
        padding: 50px 0;
      }
    }

    &-bodyInner {
      @include row;
    }

    &-image {
      @include col(12);

      @media (min-width: $breakpoint-tablet) {
        @include col(6);
      }
    }

    &-content {
      @include col(12);

      @media (min-width: $breakpoint-tablet) {
        @include col(6);
      }

      h4 {
        @include spacing('small');
      }

      p {
        @include spacing('small');
      }
    }

    &-figure {
      height: 100%;
      margin-bottom: 0;
      max-height: 535px;
      max-width: 450px;

      img {
        height: auto;
        object-fit: contain;
        width: 100%;
      }
    }

    &-contentAction {
      @include spacing('small');
    }

    &-closeButton {
      background: url('./../assets/icons/cross-black.svg') no-repeat center;
      background-size: contain;
      cursor: pointer;
      display: none;
      height: 30px;
      padding: 0;
      position: absolute;
      right: 0;
      top: 50px;
      width: 30px;

      @media (min-width: $breakpoint-tablet) {
        display: inline-block;
      }
    }

    &-expandButton {
      border: 4px solid $pink;
      border-radius: 50%;
      display: inline-block;
      height: 35px;
      position: relative;
      width: 35px;

      @media (min-width: $breakpoint-tablet) {
        display: none;
      }

      &::before {
        background-color: $pink;
        border-radius: 10px;
        content: '';
        height: 4px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 13px;
      }

      &::after {
        background-color: $pink;
        border-radius: 10px;
        content: '';
        height: 13px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out;
        width: 4px;
      }
    }

    &-isOpen {
      .tab-head {
        border-bottom: 0;
      }

      .expand-btn {
        &::after {
          opacity: 0;
        }
      }
    }
  }
}
