//** Button placeholders
%btn {  
  border: 2px solid transparent;
  display: inline-block;
  font-family: $font-family-poppins;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1;
  min-width: 110px;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
