$font-family-poppins: 'Poppins', sans-serif; 

//* Base colors
$white: #fff;
$black: #000;
$pink: #fa198c;
$light-grey: #e5e4e7;
$dark-grey: #989898;
$warm-grey: #d9dfdf;

$colors: (
  'white':            $white,
  'black':            $black,
  'pink':             $pink,
  'light-grey':       $light-grey,
  'dark-grey':        $dark-grey,
  'warm-grey':        $warm-grey,
);

// Bootstrap Overrides
$link-decoration: none;

$font-family-base: 'Poppins', Arial, Helvetica, sans-serif;

$headings-margin-bottom: 0;
$headings-font-weight: revert;
$paragraph-margin-bottom: 0;
$legend-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1400px,
  3xl: 1600px,
  4xl: 2200px
);

$container-max-widths: (
  xs: 100%,
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  2xl: 100%,
  3xl: 1450px,
  4xl: 2000px
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  8: $spacer * 2,
  10: $spacer * 2.5,
  12: $spacer * 3,
  14: $spacer * 3.5,
  16: $spacer * 4.5,
  20: $spacer * 5,
  22: $spacer * 5.5,
  24: $spacer * 6,
  34: $spacer * 8.5,
  36: $spacer * 9,
  94: $spacer * 23.5,
  114: $spacer * 28.5,
);

$grid-gutter-width: 2rem;
$gutters: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  4: $spacer,
  6: $spacer * 1.5,
  8: $spacer * 2,
);
