$font-family-proxima-nova: 'Poppins', sans-serif; 
$font-family-proxima-sera: 'Poppins', sans-serif;

// Bootstrap Overrides
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
  xxxxl: 2200px
);

$container-max-widths: (
  xs: 100%,
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 100%,
  xxxl: 1400px,
  xxxxl: 2000px
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  4: $spacer,
  6: $spacer * 1.5,
  8: $spacer * 2,
  10: $spacer * 2.5,
  14: $spacer * 3.5,
  20: $spacer * 5,
  24: $spacer * 6,
  36: $spacer * 9,
  94: $spacer * 23.5,
  114: $spacer * 28.5,
);

$grid-gutter-width: 2rem;
$gutters: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  4: $spacer,
  6: $spacer * 1.5,
  8: $spacer * 2,
);