$font-family-poppins: 'Poppins', sans-serif; 

//* Base colors
$white: #fff;
$black: #000;
$pink: #fa198c;
$light-grey: #e5e4e7;
$dark-grey: #989898;
$warm-grey: #d9dfdf;

$colors: (
  'white':            $white,
  'black':            $black,
  'pink':             $pink,
  'light-grey':       $light-grey,
  'dark-grey':        $dark-grey,
  'warm-grey':        $warm-grey,
);
