<div class="flyntComponent componentSpacing d-flex flex-column {{ options.theme }} bg-black cta overlay-grid-white" is="flynt-footer-cta">
	<div class="media-wrapper bg-lightgray">
		<img src="{{ theme.link }}/Components/BlockCta/Assets/cleardigital-office.png" alt="webenertia office">
	</div>
	<div class="container my-auto">
		<div class="row align-items-center">
			<div class="col">
				<div class="intro text-white">
					<p class="subtitle mb-4 mb-lg-5">Lorem ipsum dolor</p>
					<h2 class="h1 text-white">Let’s talk.</h2>
					<div class="action-wrap">
						<a href="/" class="button button--primary mt-5 mt-lg-8" data-cursor-expand>Contact us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
