<section class="cta overlay-grid-white d-flex flex-column justify-content-center">
	<div class="media-wrapper bg-lightgray">
		<img src="{{ theme.link }}/Components/BlockCta/Assets/cleardigital-office.png" alt="webenertia office">
	</div>
	<div class="wrapper">
		<div class="container">
			<div class="row align-items-center">
				<div class="col">
					<div class="intro text-white">
						<p class="mb-4 mb-lg-5">Lorem ipsum dolor</p>
						<h1>Let’s talk.</h1>
						<div class="action-wrap">
							<a href="/" class="btn-primary-pink mt-5 mt-lg-8" data-cursor-expand>Contact us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
