<div class="flyntComponent componentSpacing {{ options.theme }} themeDark overlay-grid" is="flynt-hero-image-cta">
  <video class="video" width="640" height="640" aria-hidden="true" autoplay muted loop>
    <source src="https://media.istockphoto.com/id/1372283447/video/attractive-woman-wearing-virtual-reality-headset-augmented-reality-creative-lady-swiping.mp4?s=mp4-640x640-is&k=20&c=Flz0Jza76gPaFZyEJ8X6114fy__lJc1m_4_yKZRZsVo=" type="video/mp4">
    <img class="video-fallbackImage lazyload" src="{{ theme.link }}/Components/HeroImageCta/Assets/girl-in-vr-headset.png" alt="Banner Fallback Image" aria-hidden="true">
  </video>
	{# <picture class="picture" aria-hidden="true">
    <source srcset="{{ theme.link }}/Components/HeroImageCta/Assets/girl-in-vr-headset.webp" type="image/webp">
		<img class="picture-fallbackImage" src="{{ theme.link }}/Components/HeroImageCta/Assets/girl-in-vr-headset.png" width="3200" height="2180" alt="Banner Fallback Image" aria-hidden="true">
	</picture> #}
	<div class="container">
    <div class="intro">
      <p class="intro-eyebrow">Hello! We are Clear Digital.</p>
      <h1 class="h2 intro-headline">We build websites and
        <span class="marker marker--underline">digital</span>
        brand experiences for modern B2B organizations.</h1>
      <a href="/" class="intro-cta button button--link">Our approach</a>
    </div>
	</div>
  <div class="container container--playButton">
    <a href="https://youtu.be/UtoQ1TsQLpE" class="playButton playVideoInPopup" target="_blank" aria-label="Play video">asdas</a>
  </div>
</div>
