[is='flynt-block-three-col-content'] {
  .intro {
    h6 {
      @include typography-eyebrow;
    }

    p {
      @include typography-blurb;
      @include spacing('large');
    }
  }

  .features {
    @include row;
  }

  .feature {
    @include col(12);
    @include spacing('large');

    @media (min-width: $breakpoint-tablet) {
      @include col(6);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include col(4);
      padding-right: 8.33333%;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .icon-wrap {
      height: 80px;
      margin-bottom: 2rem;
      max-width: 80px;
    }

    p {
      margin-top: 1rem;
    }
  }
}
