[is='flynt-navigation-footer'] {
  min-height: 0;
  padding: 30px 0;

  .content {
    @include row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 38px;
    position: relative;
    width: 40px;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 2rem;
    }

    img {
      height: 100%;
      object-fit: contain;
    }

    &-item {
      @include col(12);

      @media (min-width: $breakpoint-tablet) {
        @include col(2);
      }
    }
    
  }
  
  .navigation {
    @include col(12);

    @media (min-width: $breakpoint-tablet) {
      @include col(10);
    }
  }

  @import 'Partials/menu';
}
