<div class="flyntComponent themeLight" is="flynt-navigation-footer">
  <div class="container centerMaxWidthContainer">
    {% if menu %}
      <nav class="navigation" aria-label="{{ __("Footer", "flynt") }}">
        {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
      </nav>
    {% endif %}
    {% if contentHtml %}
      <div class="content">{{ contentHtml|e('wp_kses_post') }}</div>
    {% endif %}
  </div>
</div>

<div class="flyntComponent themeLight" is="flynt-navigation-footer">
  <div class="container">
    <div class="footer--level-2">
      <div class="logo-item">
        <div class="logo">
          <a data-cursor-expand href="/" aria-label="logo-link">
            <img src="{{ theme.link }}/Components/Footer/Assets/clear-digital-black-logo.svg" alt="clear digital black logo">
          </a>
        </div>
      </div>
      <nav class="navigation">
        <ul class="menu menu--level-0">
          <li class="menu-item">
            <a data-cursor-expand href="/" class="footer-link-sm menu-link">© 2023 Clear Digital , Inc.</a>
          </li>
          <li class="menu-item">
              <a data-cursor-expand href="/" class="footer-link-sm menu-link">Email Subscriptions</a>
          </li>
          <li class="menu-item">
              <a data-cursor-expand href="/" class="footer-link-sm menu-link">Terms of Use</a>
          </li>
          <li class="menu-item">
              <a data-cursor-expand href="/" class="footer-link-sm menu-link">Privacy</a>
          </li>
          <li class="menu-item">
              <a data-cursor-expand href="/" class="footer-link-sm menu-link">Cookie Policy</a>
          </li>
          <li class="menu-item">
            <a data-cursor-expand href="/" class="footer-link-sm menu-link">Cookie Settings</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>