[is='flynt-block-tabs-with-content'] {
  // add your component styles here

  .close-btn {
    background: url('./../assets/icons/map-pin-pink.svg') no-repeat center;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 30px;
  }

  .tab {
    border-bottom: 1px solid rgba($black, 0.5);
    padding: 50px 0;
    

    &__body {
      background-color: $dark-grey;
      border-top: 1px solid $black;
      padding: 50px 0;
    } 
  }
}
