.text-image-slider {
  &__card {
    position: relative;
  }
  
  &__media {
    height: 550px;
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__content {
    bottom: 30px;
    left: 0;
    padding: 50px 30px;
    position: absolute;
  }

  .logo-wrap {
    height: 46px;
    max-width: 153px;
  }
}
