.image-two-col {
  @include media-breakpoint-up(md) {
    height: 100vh;
  }

  &__item {
    height: 100vh;
    position: relative;
    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }

  &__background {
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__content {
    bottom: 40px;
    left: 50%;
    padding: 0 20px;
    position: absolute;
    transform: translateX(-50%);
    transition: width 0.2s ease-in-out, transform 0.2s ease-in-out;
    width: 100%;

    @include media-breakpoint-up(md) {
      bottom: 150px;
    }
    @include media-breakpoint-up(xl) {
      left: 0;
      padding: 0;
      transform: none;
      width: auto;
    }
  }

  &__logo {
    display: inline-block;
    height: 40px;
    max-width: 195px;
    overflow: hidden;
    width: 100%;
    
    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  .swiper {
    .swiper-slide {
      @include media-breakpoint-up(md) {
        width: auto;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      height: 100%;
      margin-top: 0;
      top: 0;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev {
      left: 0;
    }
  }
}
