<section class="banner-hero overlay-grid-white">
	<div class="media-wrapper">
		<img src="{{ theme.link }}/assets/images/" alt="Banner Media">
	</div>
	<div class="content-wrapper">
		<div class="container">
			<div class="section-heading">
				<p>Hello! We are Clear Digital.</p>
				<h1 class="text-white">We build websites and <span class="text-pink marker-underline-white">digital</span> brand experiences for modern B2B organizations.</h1>
				<div class="btn-wrap">
					<a href="#">Contact us</a>
				</div>
			</div>
		</div>
	</div>
</section>
