{% if post.post_name == 'home' %}
<section class="banner-hero bg-pink py-36">
  <div class="container">
    <div class="row align-items-center position-relative">
      <div class="col-6">
        <div class="section-heading text-orange px-4">
          <h6>Hello! We are Clear Digital.</h6>
          <h1>We build websites and digital brand experiences for modern B2B organizations.</h1>
          <div class="section-heading__action">
            <a href="https://www.youtube.com/embed/17KMWxz_pJc" class="btn-primary-orange btn-play video-play mt-sm">Our approach</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if post.post_name == 'about' %}
<section class="banner-hero bg-light-grey py-36">
  <div class="container">
    <div class="flex flex-wrap items-center">
      <div class="basis-full md:basis-6/12">
        <div class="section-heading">
          <h1 class="text-orange">Ditch the stale. Blaze your trail.</h1>
          <h3 class="mt-5">Out with the packaging status quo. In with Ernest.</h3>
          <div class="section-heading__action">
            <a href="https://www.youtube.com/embed/17KMWxz_pJc" class="btn-primary-orange mt-5">Watch video</a>
          </div>
        </div>
      </div>
      <div class="basis-full md:basis-6/12 banner-hero__media">
        <h2>This section is made using tailwind utility classes combined to a single class using @apply directive</h2>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="banner-hero bg-pink py-36">
  <div class="container">
    <div class="row align-items-center position-relative">
      <div class="col-6">
        <div class="section-heading text-orange px-4">
          <h6>Hello! We are Clear Digital.</h6>
          <h1>We build websites and digital brand experiences for modern B2B organizations.</h1>
          <div class="section-heading__action">
            <a href="https://www.youtube.com/embed/17KMWxz_pJc" class="btn-primary-orange btn-play video-play mt-sm">Our approach</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>