address {
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin-bottom: 0;
}

dd {
  margin-bottom: 0;
}

pre {
  margin-bottom: 0;
}


/**
* 0.0 Root
*
* Top level styles every element should inherit.
*/

@include font-face('Montserrat', 'montserrat-v14-latin-regular', '400', 'normal');
@include font-face('Montserrat', 'montserrat-v14-latin-italic', '400', 'italic');
@include font-face('Montserrat', 'montserrat-v14-latin-700', '700', 'normal');
@include font-face('Montserrat', 'montserrat-v14-latin-700italic', '700', 'italic');

html {
  background-color: $color-background;
  box-sizing: border-box;
  color: $color-text;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.625;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-wrap: break-word;
  word-wrap: break-word;


  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

body {
  height: 100%;
  overflow-x: hidden;
}

a {
  color: $color-accent;
  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: darken($color-accent, 10%);
  }
}

p,
.paragraph,
table,
figure {
  margin: 0 0 1.2rem;
}

hr {
  background-color: $color-border;
  border: 0;
  display: block;
  height: 1px;
  margin: 2.4rem 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

figcaption {
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

code {
  background-color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 0 0.3rem;
}

blockquote,
.blockquote {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  padding-top: 4rem;
  position: relative;

  @include media-breakpoint-up(md) {
    padding-top: 6rem;
  }

  &::before {
    background: url('./../assets/icons/quotes-white.svg') no-repeat center / 100%;
    content: '';
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 55px;
    z-index: 1;

    @include media-breakpoint-up(md) {
      height: 61px;
      width: 72px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

/**
* 1.1 Lists & Tables
*
* Default and custom styled list and table elements.
*/

ul,
ol {
  margin: 0 0 1.2rem;
  padding-left: 1.5rem;

  ul,
  ol {
    margin-bottom: 0;
  }
}

/* Icon Lists */

.iconList {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;

    &::before {
      background-size: contain;
      content: '';
      display: block;
      height: 1rem;
      left: 0;
      position: absolute;
      top: 0.25rem;
      width: 1rem;
    }
  }

  &--checkCircle {
    li::before {
      background-image: url('../assets/icons/check-circle.svg');
    }
  }
}

/* Tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}

td,
th {
  padding: 1.25rem;
  text-align: inherit;
  vertical-align: top;
}

thead {
  th {
    border-bottom: 2px solid $color-accent;
    color: $color-headline;
    padding-bottom: 10px;
    vertical-align: bottom;
    white-space: nowrap;
  }
}

tr:nth-child(even) {
  background-color: $color-background-light;
}
