/**
* 1.2 Buttons
*
* Global button elements, including reset on standard button element.
*/

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-align: inherit;
}

.button {
  appearance: none;
  // background-color: $color-accent;
  background-color: $pink;
  // border: 2px solid transparent;
  border: 2px solid $pink;
  // border-radius: 4px;
  // color: $color-background;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: inherit;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  user-select: none;

  @include media-breakpoint-up(sm) {
    padding: 1rem 1.25rem;
  }

  &:disabled,
  &--disabled {
    border-color: $dark-grey;
    color: $dark-grey;
    cursor: default;
    opacity: 0.7;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    // background-color: $color-background-dark;
    background-color: transparent;
    // border-color: $color-background-dark;
    border-color: $pink;
    // color: $color-background;
    color: $pink;
  }

  &--outline,
  &--ghost {
    background-color: transparent;
    // border-color: $color-accent;
    border-color: $black;
    // color: $color-accent;
    color: $black;

    &:hover,
    &:focus {
      // background-color: transparent;
      background-color: $black;
      // border-color: $color-background-dark;
      border-color: $black;
      // color: $color-background-dark;
      color: $white;
    }
  }
  
  &--small {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  &--link {
    align-items: center;
    background-color: transparent;
    border: 0;
    // color: $color-accent;
    color: $black;
    display: inline-flex;
    padding: 0;
    position: relative;
    text-transform: none;
    transition: color 0.2s ease-out;

    &:hover,
    &:focus {
      background-color: transparent;
      // color: $color-background-dark;
      color: $black;

      // &::before {
      //   background-color: $color-background-dark;
      // }

      &::after {
        background-position: left center;
      }
    }

    // &::before {
    //   background-color: $color-accent;
    //   bottom: 0;
    //   content: '';
    //   height: 1px;
    //   left: 0;
    //   position: absolute;
    //   transition: background-color 0.2s ease-out;
    //   width: 100%;
    // }

    &::after {
      // $color-accent-rgb: red($color-accent), green($color-accent), blue($color-accent);
      // $color-background-dark-rgb: red($color-background-dark), green($color-background-dark), blue($color-background-dark);

      // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.586 5L.293 8.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4A1 1 0 1 0 .293 1.707L3.586 5z' fill='rgb(#{$color-accent-rgb})'/%3E%3Cpath d='M13.586 5l-3.293 3.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L13.586 5z' fill='rgb(#{$color-background-dark-rgb})'/%3E%3C/svg%3E");
      background-image: url('./../assets/icons/arrow-right-black.svg');
      background-position: right center;
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      // height: 10px;
      height: 15px;
      margin-left: 10px;
      transition: background-position 0.2s ease-out;
      // vertical-align: baseline;
      // width: 6px;
      width: 17px;
    }
  }
}

.bg-black .button {
  &--link {
    color: $white;

    &::after {
      background-image: url('./../assets/icons/arrow-right-white.svg');
    }
  }
}

/* Pills */

.pill {
  background-color: $color-background-dark;
  border-radius: 1rem;
  color: $color-background;
  display: inline-block;
  font-size: 0.8rem;
  max-width: 100%;
  overflow: hidden;
  padding: 0.125rem 1rem;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $color-background;
  }
}

/* Icons */

.feather {
  color: $color-accent;
  position: relative;
  top: -2px;
  vertical-align: middle;
}
