@import '../abstracts/variables';

html {
  scroll-behaviour: smooth; /* stylelint-disable-line */
  -webkit-text-size-adjust: 100%; /* stylelint-disable-line */
}

body {
  background-color: $white;
  font-family: $font-family-poppins;
  overflow-x: hidden;
}

main {
  background-color: $white;
  margin: 0 auto;
  max-width: 2500px;
  overflow-x: clip;
  width: 100%;
}

header,
section,
footer {
  margin: 0 auto;
  max-width: 2500px;
  position: relative;
  width: 100%;
}
