/* TODO: Search how frameworks add font family to global styles and fix */
html,
body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* stylelint-disable scss/at-extend-no-missing-placeholder */
section {
  @extend .d-flex, .align-items-center;
  min-height: 100vh;
  position: relative;
}
/* stylelint-enable scss/at-extend-no-missing-placeholder */
