address {
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin-bottom: 0;
}

dd {
  margin-bottom: 0;
}

pre {
  margin-bottom: 0;
}

/* stylelint-disable scss/at-extend-no-missing-placeholder */
section {
  @extend .d-flex, .flex-column, .py-md-36, .py-12;
  min-height: 100vh;
  position: relative;
}

blockquote {
  @extend .pt-md-24, .pt-16;
  position: relative;

  &::before {
    background: url('../assets/icons/quotes-white.svg') no-repeat center / 100%;
    content: '';
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 55px;
    z-index: 1;
    @include media-breakpoint-up(md) {
      height: 61px;
      width: 72px;
    }
  }
}
/* stylelint-enable scss/at-extend-no-missing-placeholder */
