address {
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin-bottom: 0;
}

dd {
  margin-bottom: 0;
}

pre {
  margin-bottom: 0;
}

/* stylelint-disable scss/at-extend-no-missing-placeholder */
section {
  @extend .d-flex, .flex-column, .py-36;
  min-height: 100vh;
  position: relative;
}
/* stylelint-enable scss/at-extend-no-missing-placeholder */
