:root {
  --window-size-anim-delay: 0s;
  --typography-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation: typography-body 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

h1,
.h1 {
  animation: typography-h1 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: -0.05em;
  line-height: 1.1;
}

h2,
.h2 {
  animation: typography-h2 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

h3,
.h3 {
  animation: typography-h3 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

h4,
.h4 {
  animation: typography-h4 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: 0;
  line-height: 1.3;
}

h5,
.h5 {
  animation: typography-h5 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: 0;
  line-height: 1.3;
}

h6,
.h6 {
  animation: typography-h6 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: 0;
  line-height: 1.3;
}

.subtitle {
  animation: typography-subtitle 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: 0;
  line-height: 1;
}

.body-lg {
  animation: typography-body-lg 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: 0;
  line-height: 1.5;
}

.body-default {
  animation: typography-body 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.body-md {
  animation: typography-body-md 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: 0;
  line-height: 1.5;
}

.btn-lg {
  animation: typography-btn-lg 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1;
}

.btn-sm {
  animation: typography-btn-sm 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1;
}

.footer-link-sm {
  animation: typography-footer-link-sm 1001ms var(--typography-timing-function);
  animation-delay: var(--window-size-anim-delay);
  animation-play-state: paused;
  letter-spacing: -0.02em;
  line-height: 1;
}

@keyframes typography-h1 {
  0% {
    font-size: 70px;
  }

  100% {
    font-size: 180px;
  }
}

@keyframes typography-h2 {
  0% {
    font-size: 40px;
  }

  100% {
    font-size: 90px;
  }
}

@keyframes typography-h3 {
  0% {
    font-size: 30px;
  }

  100% {
    font-size: 70px;
  }
}

@keyframes typography-h4 {
  0% {
    font-size: 24px;
  }

  100% {
    font-size: 34px;
  }
}

@keyframes typography-h5 {
  0% {
    font-size: 24px;
  }

  100% {
    font-size: 34px;
  }
}

@keyframes typography-h6 {
  0% {
    font-size: 24px;
  }

  100% {
    font-size: 34px;
  }
}

@keyframes typography-subtitle {
  0% {
    font-size: 20px;
  }

  100% {
    font-size: 28px;
  }
}

@keyframes typography-body-lg {
  0% {
    font-size: 18px;
  }

  100% {
    font-size: 22px;
  }
}

@keyframes typography-body-md {
  0% {
    font-size: 16px;
  }

  100% {
    font-size: 20px;
  }
}

@keyframes typography-body {
  0% {
    font-size: 16px;
  }

  100% {
    font-size: 18px;
  }
}

@keyframes typography-btn-lg {
  0% {
    font-size: 16px;
  }

  100% {
    font-size: 20px;
  }
}

@keyframes typography-btn-sm {
  0% {
    font-size: 16px;
  }

  100% {
    font-size: 18px;
  }
}

@keyframes typography-footer-link-sm {
  0% {
    font-size: 12px;
  }

  100% {
    font-size: 14px;
  }
}
