@import 'easings-css/easings';

$white: #fff;
$black: #000;
$pink: #fa198c;
$light-grey: #e5e4e7;
$dark-grey: #989898;
$warm-grey: #d9dfdf;

@import
  'styles/variables',
  'styles/mixins',
  'styles/base';

// stylelint-disable-next-line scss/at-import-no-partial-leading-underscore, scss/at-import-partial-extension-blacklist
@import '../Components/**/_style.scss';

@import 'styles/print';

//* Shame SCSS

.media-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 5;
}

.icon-wrap,
.logo-wrap {
  display: inline-block;
  overflow: hidden;
  width: 100%;

  img,
  svg {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}

.media {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  > img,
  > svg {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &-absolute {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-cover {
    > img,
    > svg {
      object-fit: cover;
    }
  }

  &-contain {
    > img,
    > svg {
      object-fit: contain;
    }
  }
}

.action {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 4;

  &-stretched {
    bottom: 0;
    color: transparent;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    > a {
      bottom: 0;
      color: transparent;
      left: 0;
      pointer-events: auto;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.overlay-grid-black {
  &::before {
    background: url('./../assets/images/grid-black.png');
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }
}

.overlay-grid-white {
  &::before {
    background: url('./../assets/images/grid-white.png');
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }
}

.mainContent {
  overflow-x: hidden;
}

.site-logo {
  background: url('../../images/logo/clear-digital-logo-white.svg') no-repeat center;
  height: 35px;
  max-width: 111px;
  position: relative;
  width: 100%;
}

.empty-link {
  color: transparent;
  cursor: pointer;
  font-size: 0;
  inset: 0;
  opacity: 0;
  position: absolute;
  z-index: 3;
}

.play {
  @include media-breakpoint-down(md) {
    height: 80px;
    margin-left: 16px;
    width: 80px;
  }

  &::before {
    @include media-breakpoint-down(md) {
      background: url('../assets/icons/play-circle-pink.svg') no-repeat center;
      content: '';
      height: 80px;
      position: absolute;
      width: 80px;
    }
  }
}

.swiper-pagination-progressbar {
  background: transparent !important;
  height: 8px !important;
  position: relative !important;

  &::before {
    background-color: $black;
    content: '';
    display: block;
    height: 1px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  &-fill {
    background: $pink !important;
  }
}

.bg-black .swiper-pagination-progressbar {
  &::before {
    background-color: $white;
  }
}

// TODO: Find a better place to keep this code
[class*='graphic-effect-'] {
  display: inline-block;
  position: relative;
}

[class*='graphic-effect-'] > img {
  clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
  left: 0;
  pointer-events: none;
  position: absolute;
  transition: clip-path 500ms ease-in-out;
  user-select: none;
  width: 100%;
}

.graphic-effect-underline > img {
  bottom: -0.25em;
  height: 0.67em;
}

.graphic-effect-crossout > img {
  bottom: 0;
  height: 100%;
  width: calc(100% + 1ch);
}

[class*='graphic-effect-'].draw > img,
[class*='graphic-effect-']:hover > img {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}

// TODO: Find a better place to keep this code
body {
  cursor: default;
  overflow-x: hidden;
  @include media-breakpoint-up(md) {
    cursor: none;
  }
}

.cursor {
  align-items: center;
  display: none;
  height: 80px;
  justify-content: center;
  // left: 27px;
  position: fixed;
  // top: 27px;
  width: 80px;
  z-index: 999;
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.cursor,
.cursor * {
  pointer-events: none;
}

.cursor.hidden {
  display: none;
}

.cursorCircle {
  border: 8px solid $pink;
  border-radius: 100%;
  display: block;
  height: 25px;
  transition: width 200ms ease-in-out, height 200ms ease-in-out, transform 100ms ease-out;
  width: 25px;
}

.cursor.click .cursorCircle {
  transform: scale(0.63);
}

.cursor[data-circle-expand='true'] .cursorCircle {
  display: none;
  height: 100%;
  width: 100%;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.cursor[data-circle-expand='true'].click .cursorCircle {
  transform: scale(0.75);
}

.cursorIcon {
  height: 35px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0);
  transition: transform 300ms ease-out;
  width: 35px;
}

.cursor:not([data-icon='']) .cursorIcon {
  background-position: center;
  background-size: contain;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.cursor:not([data-icon='']).click .cursorIcon {
  transform: translateX(-50%) translateY(-50%) scale(0.75);
}

.cursor[data-icon='play'] .cursorIcon {
  background-image: url('./../assets/cursors/play.svg');
  background-size: 100%;
}

.cursor[data-icon='plus'] .cursorIcon {
  background-image: url('./../assets/cursors/plus.svg');
  background-size: 100%;
}

.cursor[data-icon='left'] .cursorIcon {
  background-image: url('./../assets/cursors/arrow-left-pink.svg');
  background-size: 100%;
}

.cursor[data-icon='right'] .cursorIcon {
  background-image: url('./../assets/cursors/arrow-right-pink.svg');
  background-size: 100%;
}

header,
footer {
  display: none;
}
