/**
* 3.0 Themes
*
* Color themes for backgrounds and content elements.
*/

.themeLight {
  background-color: $color-background-light;
}

.themeDark {
  background-color: $color-background-dark;

  &,
  #{$heading-selectors} {
    color: $color-background;
  }

  .button {
    &:hover,
    &:focus {
      background-color: $color-background-hero;
      border-color: $color-background-hero;
      color: $color-background;
    }

    &--ghost {
      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $color-background-hero;
        color: $color-background-hero;
      }
    }

    &--link {
      &:hover,
      &:focus {
        background-color: transparent;
        color: $color-background;

        &::before {
          background-color: $color-background;
        }
      }

      &::after {
        $color-accent-rgb: red($color-accent), green($color-accent), blue($color-accent);
        $color-background-rgb: red($color-background), green($color-background), blue($color-background);

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.586 5L.293 8.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4A1 1 0 1 0 .293 1.707L3.586 5z' fill='rgb(#{$color-accent-rgb})'/%3E%3Cpath d='M13.586 5l-3.293 3.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L13.586 5z' fill='rgb(#{$color-background-rgb})'/%3E%3C/svg%3E");
      }
    }
  }

  .pill {
    background-color: $color-background-hero;
  }
}

.themeHero {
  background-color: $color-background-hero;

  &,
  #{$heading-selectors},
  a,
  .feather {
    color: $color-background;
  }

  a:hover,
  a:focus {
    color: $color-background-dark;
  }

  .button {
    background-color: $color-background-dark;
    border-color: $color-background-dark;
    color: $color-background;

    &:hover,
    &:focus {
      background-color: $color-background;
      border-color: $color-background;
      color: $color-background-dark;
    }

    &--ghost {
      background-color: transparent;
      border-color: $color-background-dark;
      color: $color-background-dark;

      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $color-background;
        color: $color-background;
      }
    }

    &--link {
      background-color: transparent;
      color: $color-background;

      &::before {
        background-color: $color-background;
      }

      &:hover,
      &:focus {
        background-color: transparent;
        color: $color-background-dark;

        &::before {
          background-color: $color-background-dark;
        }
      }

      &::after {
        $color-background-dark-rgb: red($color-background-dark), green($color-background-dark), blue($color-background-dark);
        $color-background-rgb: red($color-background), green($color-background), blue($color-background);

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.586 5L.293 8.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4A1 1 0 1 0 .293 1.707L3.586 5z' fill='rgb(#{$color-background-rgb})'/%3E%3Cpath d='M13.586 5l-3.293 3.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L13.586 5z' fill='rgb(#{$color-background-dark-rgb})'/%3E%3C/svg%3E");
      }
    }
  }

  .pill {
    &:hover,
    &:focus {
      color: $color-background;
    }
  }
}

.themeReset {
  background-color: $color-background;
  color: $color-text;

  #{$heading-selectors} {
    color: $color-headline;

    a,
    a:hover,
    a:focus {
      color: $color-headline;
      text-decoration: none;
    }
  }

  a,
  .feather {
    color: $color-accent;
  }

  a:hover,
  a:focus {
    color: darken($color-accent, 10%);
  }

  .button {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-background;

    &:hover,
    &:focus {
      background-color: $color-background-dark;
      border-color: $color-background-dark;
      color: $color-background;
    }

    &--ghost {
      background-color: transparent;
      border-color: $color-accent;
      color: $color-accent;

      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $color-background-dark;
        color: $color-background-dark;
      }
    }

    &--link {
      background-color: transparent;
      color: $color-accent;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $color-background-dark;

        &::before {
          background-color: $color-background-dark;
        }
      }

      &::before {
        background-color: $color-accent;
      }

      &::after {
        $color-accent-rgb: red($color-accent), green($color-accent), blue($color-accent);
        $color-background-dark-rgb: red($color-background-dark), green($color-background-dark), blue($color-background-dark);

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.586 5L.293 8.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4A1 1 0 1 0 .293 1.707L3.586 5z' fill='rgb(#{$color-accent-rgb})'/%3E%3Cpath d='M13.586 5l-3.293 3.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L13.586 5z' fill='rgb(#{$color-background-dark-rgb})'/%3E%3C/svg%3E");
      }
    }
  }

  .pill {
    color: $color-background;
  }
}
