$breakpoint-mobile-horizontal: 576px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 992px;
$breakpoint-desktop: 1200px;

$container-max-width-desktop: 160rem;
$container-max-width-tablet: 160rem;
$container-max-width: 100%;
$container-padding-desktop: 9.5rem;
$container-padding-tablet: 95px;
$container-padding-mobile: 16px;
$content-max-width: 80rem;
$component-spacing-desktop: 15rem;
$component-spacing-tablet: 7rem;
$component-spacing-mobile: 7rem;
$gutter-width-desktop: 1.5rem;
$gutter-width-tablet: 1.5rem;
$gutter-width: 16px;
$spacing-large-desktop: 5rem;
$spacing-large-tablet: 5rem;
$spacing-large: 4rem;
$spacing-medium-desktop: 3rem;
$spacing-medium-tablet: 3rem;
$spacing-medium: 2rem;
$spacing-small-desktop: 2rem;
$spacing-small-tablet: 2rem;
$spacing-small: 1.5rem;

$color-brand: #fa198c;
$color-accent: #fa198c;
$color-background: #fff;

$color-contrast: #989898;
$color-text: #000;
$color-headline: #000;
$color-border: #000;

$color-background-light: #e5e4e7;
$color-background-dark: #000;
$color-background-hero: #d9dfdf;

$heading-selectors: 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6';
$input-selectors: '[type="tel"], [type="url"], [type="text"], [type="date"], [type="email"], [type="search"], [type="number"], [type="password"], textarea, select';
