	<a data-cursor-expand class="logo" href="{{ site.link }}">
		<img class="logo-white" src="/themes/clear-digital-flynt/Components/NavigationBurger/Assets/clear-digital-logo-white.svg" alt="{{ logo.alt }}">
		<img class="logo-black" src="/themes/clear-digital-flynt/Components/NavigationBurger/Assets/clear-digital-logo-black.svg" alt="{{ logo.alt }}">
	</a>
