<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-example">
  {# <script type="application/json">{{ jsonData|json_encode }}</script> #}
  <div class="container centerMaxWidthContainer">
    <h1>Component: Example</h1>
  </div>
</div>
