<div class="flyntComponent componentSpacing d-flex flex-column {{ options.theme }} bg-black overlay-grid-white" is="flynt-hero-image-cta">
	<picture class="picture position-absolute inset-0">
		<img class="object-fit-cover h-100" src="{{ theme.link }}/Components/BlockHero/Assets/girl-in-vr-headset.png" alt="Banner Media">
	</picture>
	<div class="container my-auto">
		<div class="row align-items-center">
			<div class="col">
				<div class="intro text-white">
					<p class="subtitle mb-4 mb-lg-5">Hello! We are Clear Digital.</p>
					<h1 class="h2 text-white m-0 p-0">We build websites and
						<span class="text-pink marker-underline-white graphic-effect-underline" data-underline-image="white-1" >digital</span>
						brand experiences for modern B2B organizations.</h1>
					<div class="action">
						<a href="/" class="button button--primary mt-5 mt-lg-8" data-cursor-expand>Contact us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="action postion-absolute inset-0">
		<a href="https://youtu.be/UtoQ1TsQLpE" class="play video-play" target="_blank" data-cursor-expand data-cursor-icon="play" aria-label="play"></a>
	</div>
</div>
