<section class="banner-hero overlay-grid-white">
	<div class="media media-absolute media-cover">
		<img src="{{ theme.link }}/Components/BlockHero/Assets/girl-in-vr-headset.png" alt="Banner Media">
	</div>
	<div class="container my-auto">
		<div class="row align-items-center">
			<div class="col">
				<div class="intro text-white">
					<p class="subtitle mb-4 mb-lg-5">Hello! We are Clear Digital.</p>
					<h1 class="h2">We build websites and
						<span class="text-pink marker-underline-white graphic-effect-underline" data-underline-image="white-1" >digital</span>
						brand experiences for modern B2B organizations.</h1>
					<div class="action">
						<a href="/" class="btn-tertiary-white btn-lg mt-5 mt-lg-8" data-cursor-expand>Contact us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="/" class="action action-stretched d-inline-block d-md-block" data-cursor-expand data-cursor-icon="play">Play</a>
</section>

{# <section class="accordion-collapse bg-dark-gray">
	<div class="container">
		<div class="intro">
			<h3>Our services.</h3>
		</div>
		<div class="content-wrap">
			<div class="tab-content" data-tab="tab-A" data-cursor-icon="plus" data-cursor-expand="" style="display: block;">
				<h3>Brand strategy</h3>
			</div>
			<div class="tab-content" data-tab="tab-B" data-cursor-icon="plus" data-cursor-expand="" style="display: block;">
				<h3>Website design</h3>
			</div>
			<div class="tab-content" data-tab="tab-C" data-cursor-icon="plus" data-cursor-expand="" style="display: block;">
				<h3>Motion graphics</h3>
			</div>
			<div class="tab-content" data-tab="tab-D" data-cursor-icon="plus" data-cursor-expand="" style="display: block;">
				<h3>Creative services</h3>
			</div>
			<div class="tab-content" data-tab="tab-E" data-cursor-icon="plus" data-cursor-expand="" style="display: block;">
				<h3>Digital strategy</h3>
			</div>
			<div class="tab-content hide" data-tab="tab-F" data-cursor-icon="plus" data-cursor-expand="" style="display: block;">
				<h3>Web development</h3>
			</div>
			<div class="tab-content" data-tab="tab-G" data-cursor-icon="plus" data-cursor-expand="" style="display: block;">
				<h3>Website design</h3>
			</div>
			<div class="tab-content" data-tab="tab-H" data-cursor-icon="plus" data-cursor-expand="" style="display: block;">
				<h3>UX/UI design</h3>
			</div>
			<div class="tab-content" data-tab="tab-I" data-cursor-icon="plus" data-cursor-expand="" style="display: block;">
				<h3>Digital marketing</h3>
			</div>
			<div class="tab-content" data-tab="tab-J" data-cursor-icon="plus" data-cursor-expand="" style="display: block;">
				<h3>Support subscriptions</h3>
			</div>

		</div>
		<div class="tab-body" id="tab-A" style="display: none;">
			<div class="col-wrap">
				<div class="item">
					<div class="bg-img">
						<img src="/wp-content/themes/cleardigital/templates/assets/images/black_pink.png" alt="black pink">
					</div>
				</div>
				<div class="item">
					<div class="inner-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage,
																																			                and guide your B2B customers to your solutions</p>
					</div>
					<ul class="list-item">
						<li>Content Strategy</li>
						<li>Copywriting / Copyediting</li>
						<li>Infographics</li>
						<li>Collateral</li>
						<li>Ebooks</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-default">Learn more</a>
					</div>
				</div>
				<div class="close-btn">
					<img src="/wp-content/themes/cleardigital/templates/assets/images/close-btn.svg" alt="close">
				</div>
			</div>
		</div>
		<div class="tab-body" id="tab-B" style="display: none;">
			<div class="col-wrap">
				<div class="item">
					<div class="bg-img">
						<img src="/wp-content/themes/cleardigital/templates/assets/images/black_pink.png" alt="black pink">
					</div>
				</div>
				<div class="item">
					<div class="inner-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage,
																																			                and guide your B2B customers to your solutions</p>
					</div>
					<ul class="list-item">
						<li>Content Strategy</li>
						<li>Copywriting / Copyediting</li>
						<li>Infographics</li>
						<li>Collateral</li>
						<li>Ebooks</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-default">Learn more</a>
					</div>
				</div>
				<div class="close-btn">
					<img src="/wp-content/themes/cleardigital/templates/assets/images/close-btn.svg" alt="close">
				</div>
			</div>
		</div>
		<div class="tab-body" id="tab-C" style="display: none;">
			<div class="col-wrap">
				<div class="item">
					<div class="bg-img">
						<img src="/wp-content/themes/cleardigital/templates/assets/images/black_pink.png" alt="black pink">
					</div>
				</div>
				<div class="item">
					<div class="inner-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage,
																																			                and guide your B2B customers to your solutions</p>
					</div>
					<ul class="list-item">
						<li>Content Strategy</li>
						<li>Copywriting / Copyediting</li>
						<li>Infographics</li>
						<li>Collateral</li>
						<li>Ebooks</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-default">Learn more</a>
					</div>
				</div>
				<div class="close-btn">
					<img src="/wp-content/themes/cleardigital/templates/assets/images/close-btn.svg" alt="close">
				</div>
			</div>
		</div>
		<div class="tab-body" id="tab-D" style="display: none;">
			<div class="col-wrap">
				<div class="item">
					<div class="bg-img">
						<img src="/wp-content/themes/cleardigital/templates/assets/images/black_pink.png" alt="black pink">
					</div>
				</div>
				<div class="item">
					<div class="inner-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage,
																																			                and guide your B2B customers to your solutions</p>
					</div>
					<ul class="list-item">
						<li>Content Strategy</li>
						<li>Copywriting / Copyediting</li>
						<li>Infographics</li>
						<li>Collateral</li>
						<li>Ebooks</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-default">Learn more</a>
					</div>
				</div>
				<div class="close-btn">
					<img src="/wp-content/themes/cleardigital/templates/assets/images/close-btn.svg" alt="close">
				</div>
			</div>
		</div>
		<div class="tab-body" id="tab-E" style="display: none;">
			<div class="col-wrap">
				<div class="item">
					<div class="bg-img">
						<img src="/wp-content/themes/cleardigital/templates/assets/images/black_pink.png" alt="black pink">
					</div>
				</div>
				<div class="item">
					<div class="inner-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage,
																																			                and guide your B2B customers to your solutions</p>
					</div>
					<ul class="list-item">
						<li>Content Strategy</li>
						<li>Copywriting / Copyediting</li>
						<li>Infographics</li>
						<li>Collateral</li>
						<li>Ebooks</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-default">Learn more</a>
					</div>
				</div>
				<div class="close-btn">
					<img src="/wp-content/themes/cleardigital/templates/assets/images/close-btn.svg" alt="close">
				</div>
			</div>
		</div>
		<div class="tab-body" id="tab-F" style="display: none;">
			<div class="col-wrap">
				<div class="item">
					<div class="bg-img">
						<img src="/wp-content/themes/cleardigital/templates/assets/images/black_pink.png" alt="black pink">
					</div>
				</div>
				<div class="item">
					<div class="inner-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage,
																																			                and guide your B2B customers to your solutions</p>
					</div>
					<ul class="list-item">
						<li>Content Strategy</li>
						<li>Copywriting / Copyediting</li>
						<li>Infographics</li>
						<li>Collateral</li>
						<li>Ebooks</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-default">Learn more</a>
					</div>
				</div>
				<div class="close-btn">
					<img src="/wp-content/themes/cleardigital/templates/assets/images/close-btn.svg" alt="close">
				</div>
			</div>
		</div>
		<div class="tab-body" id="tab-G" style="display: none;">
			<div class="col-wrap">
				<div class="item">
					<div class="bg-img">
						<img src="/wp-content/themes/cleardigital/templates/assets/images/black_pink.png" alt="black pink">
					</div>
				</div>
				<div class="item">
					<div class="inner-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage,
																																			                and guide your B2B customers to your solutions</p>
					</div>
					<ul class="list-item">
						<li>Content Strategy</li>
						<li>Copywriting / Copyediting</li>
						<li>Infographics</li>
						<li>Collateral</li>
						<li>Ebooks</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-default">Learn more</a>
					</div>
				</div>
				<div class="close-btn">
					<img src="/wp-content/themes/cleardigital/templates/assets/images/close-btn.svg" alt="close">
				</div>
			</div>
		</div>
		<div class="tab-body" id="tab-H" style="display: none;">
			<div class="col-wrap">
				<div class="item">
					<div class="bg-img">
						<img src="/wp-content/themes/cleardigital/templates/assets/images/black_pink.png" alt="black pink">
					</div>
				</div>
				<div class="item">
					<div class="inner-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage,
																																			                and guide your B2B customers to your solutions</p>
					</div>
					<ul class="list-item">
						<li>Content Strategy</li>
						<li>Copywriting / Copyediting</li>
						<li>Infographics</li>
						<li>Collateral</li>
						<li>Ebooks</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-default">Learn more</a>
					</div>
				</div>
				<div class="close-btn">
					<img src="/wp-content/themes/cleardigital/templates/assets/images/close-btn.svg" alt="close">
				</div>
			</div>
		</div>
		<div class="tab-body" id="tab-I" style="display: none;">
			<div class="col-wrap">
				<div class="item">
					<div class="bg-img">
						<img src="/wp-content/themes/cleardigital/templates/assets/images/black_pink.png" alt="black pink">
					</div>
				</div>
				<div class="item">
					<div class="inner-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage,
																																			                and guide your B2B customers to your solutions</p>
					</div>
					<ul class="list-item">
						<li>Content Strategy</li>
						<li>Copywriting / Copyediting</li>
						<li>Infographics</li>
						<li>Collateral</li>
						<li>Ebooks</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-default">Learn more</a>
					</div>
				</div>
				<div class="close-btn">
					<img src="/wp-content/themes/cleardigital/templates/assets/images/close-btn.svg" alt="close">
				</div>
			</div>
		</div>
		<div class="tab-body" id="tab-J" style="display: none;">
			<div class="col-wrap">
				<div class="item">
					<div class="bg-img">
						<img src="/wp-content/themes/cleardigital/templates/assets/images/black_pink.png" alt="black pink">
					</div>
				</div>
				<div class="item">
					<div class="inner-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage,
																																			                and guide your B2B customers to your solutions</p>
					</div>
					<ul class="list-item">
						<li>Content Strategy</li>
						<li>Copywriting / Copyediting</li>
						<li>Infographics</li>
						<li>Collateral</li>
						<li>Ebooks</li>
					</ul>
					<div class="btn-wrap">
						<a href="#" class="btn-default">Learn more</a>
					</div>
				</div>
				<div class="close-btn">
					<img src="/wp-content/themes/cleardigital/templates/assets/images/close-btn.svg" alt="close">
				</div>
			</div>
		</div>
	</div>
</section> #}