<section class="banner-hero overlay-grid-white">
	<div class="media media-absolute media-cover">
		<img src="{{ theme.link }}/Components/BlockHero/Assets/girl-in-vr-headset.png" alt="Banner Media">
	</div>
	<div class="container my-auto">
		<div class="row align-items-center">
			<div class="col">
				<div class="intro text-white">
					<p class="subtitle mb-4 mb-lg-5">Hello! We are Clear Digital.</p>
					<h1 class="h2">We build websites and
						<span class="text-pink marker-underline-white graphic-effect-underline" data-underline-image="white-1" >digital</span>
						brand experiences for modern B2B organizations.</h1>
					<div class="action">
						<a href="/" class="btn-tertiary-white btn-lg mt-5 mt-lg-8" data-cursor-expand>Contact us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="https://youtu.be/UtoQ1TsQLpE" class="play action action-stretched d-inline-block d-md-block video-play" target="_blank" data-cursor-expand data-cursor-icon="play" aria-label="play"></a>
</section>
