.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  
  @media (min-width: $breakpoint-tablet) {
    column-gap: 1.5rem;
    flex-direction: row;
    justify-content: flex-end;
  }

  &-item {
    @media (max-width: $breakpoint-tablet) {
      margin-top: 2rem;
    }
  }

  &-link {
    color: $color-contrast;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
