[is='flynt-navigation-footer-columns'] {
  .content {
    @include row;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }

  .contact-links {
    &-item {
      cursor: pointer;
      padding-left: 40px;
      position: relative;
      transition: color 0.3s ease-in-out;

      &:not(:first-child) {
        margin-top: 25px;
      }

      &::before {
        content: '';
        height: 24px;
        left: 0;
        position: absolute;
        width: 24px;
      }

      &:hover {
        color: $pink;
      }

      &--location {
        &::before {
          background: url('./../assets/icons/map-pin-pink.svg') no-repeat center;
          background-size: contain;
        }
      }

      &--phone {
        &::before {
          background: url('./../assets/icons/smartphone-pink.svg') no-repeat center;
          background-size: contain;
        }
      }
    }
  }

  .menu {
    &-socialPlatforms {
      column-gap: 20px;
      display: flex;
    }

    &--level-1 {
      @media (max-width: $breakpoint-tablet) {
        margin-top: 40px;
      }
    }

    .item {
      @include spacing('medium');
      border-radius: 50%;
      height: 25px;
      width: 25px;
      
      path {
        fill: $dark-grey;
        transition: fill 0.3s ease-in-out;
      }

      &:hover {
        path {
          fill: $pink;
        }
      }
    }

    &-item {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }

  .logo-with-links {
    @include col(12);

    @media (min-width: $breakpoint-tablet) {
      @include col(6);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include col(4);
    }
  }

  .navigation {
    @include col(12);

    @media (min-width: $breakpoint-tablet) {
      @include col(6);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include col(2);
    }
  }

  .post {
    @include col(12);
    margin-top: 40px;
    
    @media (min-width: $breakpoint-tablet-horizontal) {
      @include col(6);
      margin-top: 0;
    }

    &-img {
      @include col(12);

      @media (min-width: $breakpoint-tablet) {
        @include col(4);
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include col(5);
      }
    }

    &-figure {
      height: 253px;
      max-width: 210px;
      width: 100%;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &-content {
      @include col(12);
      margin-top: 3rem;

      @media (min-width: $breakpoint-tablet) {
        @include col(8);
        margin-top: 0;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include col(7);
      }

    }
  }

  .footer {
    &--level-0 {
      .logo-item {
        @include spacing('large', margin-bottom);
        height: 35px;
        width: 111px;
        
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &--level-1 {
      padding-top: 80px;

      @media (min-width: $breakpoint-tablet) {
        padding-top: 130px;
      }
      @media (min-width: $breakpoint-tablet-horizontal) {
        padding-top: 150px;
      }
      @media (min-width: $breakpoint-desktop) {
        padding-top: 260px;
      }

      .intro {
        @include spacing('large', padding-bottom);
        border-bottom: 1px solid $white;
      }

      .logo-item {
        @include col(12);
        @include spacing('large');

        @media (min-width: $breakpoint-tablet) {
          @include col(2);
        }

        .logo {
          height: 75px;
          max-width: 115px;
          position: relative;
        }

        img {
          height: 100%;
          object-fit: contain;
        }
      }

      .text {
        @include col(12);
        @include spacing('large');

        @media (min-width: $breakpoint-tablet) {
          @include col(10);
        }
      }
    }
  }
}
