[is='flynt-navigation-footer-columns'] {
  .content {
    @include row;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }

  .contact-links {
    &-item {
      cursor: pointer;
      padding-left: 4rem;
      position: relative;
      transition: color 0.3s ease-in-out;

      &:not(:first-child) {
        margin-top: 2rem;

        @media (min-width: $breakpoint-tablet) {
          margin-top: 3rem;
        }
      }

      &::before {
        content: '';
        height: 2.4rem;
        left: 0;
        position: absolute;
        width: 2.4rem;
      }

      &:hover {
        color: $color-brand;
      }

      &--location {
        &::before {
          background: url('./../assets/icons/map-pin-pink.svg') no-repeat center;
          background-size: contain;
        }
      }

      &--phone {
        &::before {
          background: url('./../assets/icons/smartphone-pink.svg') no-repeat center;
          background-size: contain;
        }
      }
    }
  }

  .menu {
    .item {
      @include spacing('medium');
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;

      path {
        fill: $color-contrast;
        transition: fill 0.3s ease-in-out;
      }

      &:hover {
        path {
          fill: $color-brand;
        }
      }
    }

    &--level-1 {
      @media (max-width: $breakpoint-tablet) {
        margin-top: 4rem;
      }
    }

    &-socialPlatforms {
      column-gap: 2rem;
      display: flex;

      svg {
        height: 2.5rem;
        width: 2.5rem;
      }

      .item {
        @media (max-width: $breakpoint-tablet) {
          margin-top: 3rem;
        }
      }
    }

    &-item {
      &:not(:first-child) {
        margin-top: 3rem;
      }
    }

    &-link {
      color: $color-background;

      &:hover {
        color: $color-brand;
      }
    }
  }

  .logo-with-links {
    @include col(12);

    @media (min-width: $breakpoint-tablet) {
      @include col(6);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include col(4);
    }
  }

  .navigation {
    @include col(12);

    @media (min-width: $breakpoint-tablet) {
      @include col(6);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include col(2);
    }
  }

  .post {
    @include col(12);
    margin-top: 4rem;

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include col(6);
      margin-top: 0;
    }

    &-img {
      @include col(12);

      @media (min-width: $breakpoint-tablet) {
        @include col(4);
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include col(5);
      }
    }

    &-figure {
      height: 25.3rem;
      margin-top: 0;
      width: 100%;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &-content {
      @include col(12);
      margin-top: 2rem;

      @media (min-width: $breakpoint-tablet) {
        @include col(8);
        margin-top: 0;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include col(7);
      }
    }
  }

  .footer {
    &--level-0 {
      .logo-item {
        @include spacing('large', margin-bottom);
        height: 3.5rem;
        width: 11.1rem;

        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &--level-1 {
      padding-top: 9rem;

      @media (min-width: $breakpoint-tablet) {
        padding-top: 13rem;
      }
      @media (min-width: $breakpoint-tablet-horizontal) {
        padding-top: 15rem;
      }
      @media (min-width: $breakpoint-desktop) {
        padding-top: 26rem;
      }

      .intro {
        @include spacing('large', padding-bottom);
        border-bottom: 0.1rem solid $color-background;
      }

      .logo-item {
        @include col(12);
        @include spacing('large');

        @media (min-width: $breakpoint-tablet) {
          @include col(2);
        }

        .logo {
          height: 7.5rem;
          max-width: 11.5rem;
          position: relative;
        }

        img {
          height: 100%;
          object-fit: contain;
        }
      }

      .text {
        @include col(12);
        @include spacing('large');

        @media (min-width: $breakpoint-tablet) {
          @include col(10);
        }
      }
    }
  }
}
