[is='flynt-navigation-main'] {
  $self: &;
  background-color: transparent;
  min-height: 0;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease-in-out, top 0.3s linear;
  width: 100%;
  z-index: 40;

  @media (max-width: $breakpoint-tablet-horizontal) {
    padding: 3rem 0;
  }

  > .container {
    @media (min-width: $breakpoint-desktop) {
      position: static !important;
    }
  }

  .main-navigation {
    &-items {
      align-items: center;
      display: flex;

      @media (max-width: $breakpoint-tablet-horizontal) {
        justify-content: space-between;
      }
    }

  }

  .main-menu {
    display: flex;
    margin: 0;

    &-item {
      margin-left: 5rem;

      a {
        color: $color-background;
        font-weight: 700;
        text-decoration: none;

        &:hover {
          color: $color-brand;
        }
      }
    }

    &-action {
      a {
        margin-left: 5rem;
        margin-top: 0;
      }
    }
  }

  .site-logo {
    height: 3.5rem;
    max-width: 11.1rem;
    width: 100%;

    &-black {
      display: none;
    }

    &-white {
      display: block;
    }

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  nav {
    align-items: center;
    display: flex;
    flex-basis: calc(100% - 11.1rem);
    justify-content: flex-end;
    max-width: calc(100% - 11.1rem);

    @media (max-width: $breakpoint-tablet-horizontal) {
      background: $color-background;
      display: none;
      flex: 0 0 100%;
      height: 100vh;
      left: 0;
      max-width: 100%;
      overflow-y: auto;
      padding-bottom: 10rem;
      padding-inline: 1rem;
      position: absolute;
      right: 0;
      top: 9.5rem;
      width: 100%;
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  .megamenu {
    display: none;

    &-dropdown {
      background-color: $color-background;
      padding: 1.5rem 0 3rem;
      position: relative;
      width: 100%;

      @media (min-width: $breakpoint-tablet-horizontal) {
        height: auto;
        left: 0;
        min-height: 40rem;
        overflow: hidden;
        padding: 5rem 0;
        position: absolute;
        top: 100%;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s ease;
        z-index: 20;
      }

      @media (max-width: $breakpoint-tablet-horizontal) {
        animation: fadeIn 0.2s ease-in-out;
        display: none;
      }

      > .container {
        @media (min-width: $breakpoint-tablet-horizontal) {
          opacity: 0;
          transition: opacity 0.6s ease-in-out;
        }

        @media (max-width: $breakpoint-tablet-horizontal) {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    &-content {
      max-width: 45rem;

      > h2 {
        margin-bottom: 2rem;

        @media (max-width: $breakpoint-tablet-horizontal) {
          display: none;
        }
      }
    }

    &-links {
      ul {
        li {
          @media (max-width: $breakpoint-tablet) {
            margin-top: 3rem;
          }

          &:not(:first-child) {
            @media (min-width: $breakpoint-tablet) {
              margin-top: 1.5rem;
            }
          }

        }

        a {
          color: $color-background-dark;
          font-weight: 700;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: $color-accent;
          }
        }
      }
    }

    &-action {
      margin-top: 3rem;
    }

    &--open {
      // display: block;
      opacity: 1;
      visibility: visible;
    }
  }

  .hamburger {
    display: block;
    position: relative;

    @media (min-width: $breakpoint-tablet-horizontal) {
      display: none;
    }

    span {
      background-color: $color-background-dark;
      border-radius: 0.3rem;
      display: block;
      height: 0.3rem;
      margin-bottom: 0.5rem;
      position: relative;
      transform-origin: 0.4rem 0;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease;
      width: 3rem;
      z-index: 1;

      @media (max-width: $breakpoint-mobile-horizontal) {
        height: 0.25rem;
        margin-bottom: 0.35rem;
        width: 2.4rem;
      }

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-child(2) {
        transform-origin: 0% 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

    &.active {
      span {
        &:first-child {
          transform: rotate(45deg) translate(0.1rem, -0.4rem);
        }

        &:nth-child(2) {
          opacity: 0;
          transform: scaleY(0);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &.main-navigation--active {
    background-color: $color-background;
    color: $color-background-dark;

    .site-logo {
      &-white {
        display: none;
      }

      &-black {
        display: block;
      }
    }

    nav {
      @media (max-width: $breakpoint-tablet-horizontal) {
        border-top: 0.1rem solid $color-background-light;
      }
    }

    .megamenu {
      @media (min-width: $breakpoint-tablet-horizontal) {
        border-top: 0.1rem solid $color-background-light;
      }
    }

    .main-menu-item {
      > a {
        color: $color-background-dark;

        &:hover {
          color: $color-brand;
        }
      }
    }

    .hamburger {
      span {
        background-color: $color-background-dark;
      }
    }
  }

  &.main-navigation--hide {
    top: -9.5rem;

    @media (min-width: $breakpoint-tablet-horizontal) {
      top: -12.8rem;
    }
  }
}
